language: python
notifications:
  email: false
env:
  global:
python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
  - pypy
install:
  - python setup.py install
  - pip install git+https://github.com/chfw/pyexcel-xl.git
  - pip install git+https://github.com/chfw/pyexcel-xlsx.git
  - pip install -r tests/requirements.txt
script:
  make test
after_success:
  coveralls
