pyexcel-io>=0.2.1
texttable>=0.8.1;python_version<"3"
texttable>=0.8.2;python_version>="3"
ordereddict;python_version<"2.7"
weakrefset;python_version<"2.7"
lxml==3.6.0;platform_python_implementation=="PyPy"
six>=1.10.0
