https://github.com/pyexcel/pyexcel/archive/master.zip
https://github.com/pyexcel/pyexcel-io/archive/master.zip
https://github.com/pyexcel/pyexcel-xls/archive/master.zip
https://github.com/pyexcel/pyexcel-xlsx/archive/master.zip
https://github.com/pyexcel/pyexcel-text/archive/master.zip
