https://github.com/pyexcel/pyexcel-io/archive/master.zip
https://github.com/jayvdb/pyexcel-xls/archive/use-sid.zip
https://github.com/pyexcel/pyexcel-xlsx/archive/master.zip
https://github.com/pyexcel/pyexcel-ods3/archive/master.zip
