SQLAlchemy
mock
glob2
flask
lxml
https://github.com/chfw/pyexcel-xls/archive/master.zip
https://github.com/chfw/pyexcel-xlsx/archive/master.zip
https://github.com/chfw/pyexcel-ods3/archive/master.zip
nose
rednose
nose-cov
codecov
coverage

